@import "tailwindcss";

@theme inline {
  --color-soma-blue: #1D4ED8;
  --color-soma-black: #0D0D0D;
  --color-soma-black-light: #1A1A1A;
  --color-soma-gray: #8A8A8A;
  --color-soma-red: #CD432F;
  --color-soma-green: #23A64E;
  --color-gray-4: #32353E;
  --color-soma-bg: #EDEDED;
  --color-soma-white-card: #FAFAFA;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hand: var(--font-caveat);
}

body {
  background: var(--color-soma-bg);
  color: #0D0D0D;
}

@media (max-height: 950px) {
  .h-screen-adaptive {
    height: auto;
    min-height: 700px;
  }
}
